pipeline/pl_Copy_CsvFiles_072224.json
{
	"name": "pl_Copy_CsvFiles_072224",
	"properties": {
		"activities": [
			{
				"name": "GetSourceMetadata",
				"description": "Get the child items present in the  'mfsdatastorage\\schooldb-landing' folder.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Schooldb_blob_Binary_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "CSVFileFilter",
				"description": "Filters the .csv file names from the output of \"GetSourceMetadata\" activity.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetSourceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Loop",
				"description": "For loop pass the output of 'CSVFileFilter' to CSV_file_copy_act activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CSVFileFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CSVFileFilter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "csv_file_Copy_act",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Schooldb_blob_Binary_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"p_FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"p_FileSize": "123"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Schooldb_blob_Binary_Output",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"v_FileName": {
				"type": "String"
			},
			"v_FileSize": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}