pipeline/pl_Copy_CsvFiles_072224.json
{
	"name": "pl_Copy_CsvFiles_072224",
	"properties": {
		"activities": [
			{
				"name": "GetSourceMetadata",
				"description": "Get the child items present in the  'mfsdatastorage\\schooldb-landing' folder.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Schooldb_blob_Binary_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "CSVFileFilter",
				"description": "Filters the .csv file names from the output of \"GetSourceMetadata\" activity.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetSourceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, '.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_FileName": {
				"type": "String"
			},
			"v_FileSize": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-26T12:19:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}