pipeline/pl_CopyFiles_bySize_072224.json
{
	"name": "pl_CopyFiles_bySize_072224",
	"properties": {
		"activities": [
			{
				"name": "GetSourceMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Schooldb_blob_Binary_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Schooldb_blob_Binary_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"p_FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"itemType",
									"lastModified",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Set variable_Filename",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FilterFilesbySize",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_FileName",
								"value": {
									"value": "@activity('FilterFilesbySize').output",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set variable_Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(variables('v_FileSize'),300)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyFiles_act",
										"description": "Copy files which are >=300bytes in size",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_Schooldb_blob_Binary_InputFile",
												"type": "DatasetReference",
												"parameters": {
													"p_FileName": {
														"value": "@variables('v_FileName')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_Schooldb_blob_Binary_Output",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "FilterFilesbySize",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@item().name",
									"type": "Expression"
								},
								"condition": {
									"value": "@greaterOrEquals(activity('GetFileMetadata').output.size,300)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_FileName": {
				"type": "String"
			},
			"v_FileSize": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}