pipeline/pl_CopyCSVFiles_072224.json
{
	"name": "pl_CopyCSVFiles_072224",
	"properties": {
		"activities": [
			{
				"name": "GetSourceMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Schooldb_blob_Binary_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Schooldb_blob_Binary_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"p_FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"itemType",
									"lastModified",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Set variable_fileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_FileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable_FileSize",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_FileSize",
								"value": {
									"value": "activity('GetFileMetadata').output.size",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_listOfFiles": {
				"type": "Array"
			},
			"v_FileName": {
				"type": "String"
			},
			"v_FileSize": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}