pipeline/pl_Getmetadata_072224_task.json
{
	"name": "pl_Getmetadata_072224_task",
	"properties": {
		"description": "Copy the files from source to target\n\nTask1: Copy the files which are >500B in size.\n\nTask2: Copy only files of previous day.\n\nTask3: Copy only .csv formatted files.",
		"activities": [
			{
				"name": "GetSchoolDBMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Schooldb_blob_Binary_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach-ChildItem",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSchoolDBMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSchoolDBMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFilesMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Schooldb_blob_Binary_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"p_FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"description": "If condition to copy files >300Bytes in size",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFilesMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}