pipeline/pl_GetMetadata_072224.json
{
	"name": "pl_GetMetadata_072224",
	"properties": {
		"activities": [
			{
				"name": "GetFolderMetadataAct",
				"description": "to get the metadata info of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_Binary_In_01",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderMetadataAct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderMetadataAct').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"description": "set value to 'v_filename' variable i.e item name. \n\n",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_filename",
								"value": {
									"value": "item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_Test_in_out_Act",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_blob_Binary_In_02",
									"type": "DatasetReference",
									"parameters": {
										"p_filenameInput": {
											"value": "@variables('v_filename')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_Binary_out_01",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy_Test_in_out_Act",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_listFileNames",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachLoop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_listFileNames_out",
					"value": {
						"value": "@variables('v_listFileNames')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_filename": {
				"type": "String"
			},
			"v_listFileNames": {
				"type": "Array"
			},
			"v_listFileNames_out": {
				"type": "Array"
			},
			"v_listOfFiles": {
				"type": "Array"
			},
			"v_FileSize": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}