pipeline/pl_myFirstProject.json
{
	"name": "pl_myFirstProject",
	"properties": {
		"activities": [
			{
				"name": "Get_Input_FolderMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_myFirstProject_blobFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Input_FolderMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Input_FolderMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(variables('v_InputFileName'),'.')[1]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "txt",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": {
																"value": "@addDays(formatDateTime(utcNow(),'yyyy/MM/dd'),-1)",
																"type": "Expression"
															},
															"modifiedDatetimeEnd": {
																"value": "formatDateTime(utcNow(),'yyyy/MM/dd')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_myFirstProject_blobFiles",
														"type": "DatasetReference",
														"parameters": {
															"p_FileName": {
																"value": "@variables('v_InputFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_myFirstProject_Target",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": {
																"value": "@addDays(formatDateTime(utcNow(),'yyyy/MM/dd'),-1)",
																"type": "Expression"
															},
															"modifiedDatetimeEnd": {
																"value": "formatDateTime(utcNow(),'yyyy/MM/dd')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_myFirstProject_blobFiles",
														"type": "DatasetReference",
														"parameters": {
															"p_FileName": {
																"value": "@variables('v_InputFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_myFirstProject_Target",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "parquet",
										"activities": [
											{
												"name": "Copy data3",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": {
																"value": "@addDays(formatDateTime(utcNow(),'yyyy/MM/dd'),-1)",
																"type": "Expression"
															},
															"modifiedDatetimeEnd": {
																"value": "formatDateTime(utcNow(),'yyyy/MM/dd')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "PreserveHierarchy"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_myFirstProject_blobFiles",
														"type": "DatasetReference",
														"parameters": {
															"p_FileName": {
																"value": "@variables('v_InputFileName')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_myFirstProject_Target",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_InputFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_InputFileName": {
				"type": "String"
			},
			"v_ShortFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADE Classes"
		},
		"annotations": []
	}
}