pipeline/pl_Metedata_Activity.json
{
	"name": "pl_Metedata_Activity",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata 001",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_txt_stddb_CourseInstructor_in",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata 001",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    formatDateTime(utcNow(),'yyyy-MM-dd'), \n    formatDateTime(activity('Get Metadata 001').output.lastModified,'yyyy-MM-dd')\n    )",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}